.page-top-desktop {
  display: block;
  max-width: 1204px;
}

.page-top-desktop img {
  width: 1204px;
  height: 1087px;
}

.page-top-mobile {
  display: none;
}

.page-top-mobile img {
  max-width: 872px;
  display: block;
}

.page-bottom-desktop {
  margin-top: -100px;
}

.page-bottom-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .page-top-desktop {
    display: none;
  }
  .page-top-mobile {
    display: block;
  }
}

