.mock-page {
  width: 1204px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
    bottom: 0px!important;
}

.swiper-slide {
  text-align: left;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
}

.swiper-card {
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 192px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-title {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  color: rgba(66, 72, 72, 1);
}

.card-sku {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  color: rgba(158, 158, 158, 1);
}

.card-price {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(52, 60, 77, 1);
}
.strikethrough {
  margin-left: 4px;
  font-weight: 400;
  font-size: 13px;
  text-decoration: line-through;
}
