.navbar-nav {
  width: 400px;
  margin: 0 auto;
}

.container-desktop {
  max-width: 1204px !important;
}

.container-mobile {
  max-width: 436px !important;
}

img.header-desktop {
  width: 1204px !important;
  height: 1009px !important;
}

img.footer-desktop {
  width: 1204px !important;
  height: 2615px !important;
}

img.header-mobile {
  width: 436px !important;
  height: 1570px !important;
  margin-bottom: 75px !important;
}

img.footer-mobile {
  width: 436px !important;
  height: 3158px !important;
}

.row-left,
.row-right {
  font-family: Poppins !important;
  display: block !important;
  color: black !important;
  top: -72px !important;
  background: white !important;
}

.row-left {
  left: 15px !important;
  width: 100px !important;
  text-align: left !important;
}

.container-mobile .row-left {
  left: 9px !important;
}
.row-right {
  right: 38px !important;
  width: 70px !important;
  text-align: right !important;
}

.container-mobile .row-right {
  right: 5px !important;
}

.row-left:before,
.row-right:before {
  position: relative !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  color: black !important;
}
.row-left:before {
  content: '< Previous' !important;
  text-align: left !important;
}
.row-right:before {
  content: 'Next >' !important;
  text-align: right !important;
}

.group-left,
.group-right {
  top: 407px !important;
  transform: none !important;
  z-index: 999;
}

.container-mobile .group-left,
.container-mobile .group-right {
  top: 395px !important;
}

.group-left {
  left: 80px !important;
}

.container-mobile .group-left {
  left: 22px !important;
}

.group-right {
  right: 78px !important;
}

.container-mobile .group-right {
  right: 23px !important;
}

.group-left:before,
.group-right:before {
  font-size: 25px !important;
  line-height: 21px !important;
  font-family: Poppins !important;
  font-weight: 700 !important;
  color: rgba(120, 120, 120, 1) !important;
}

.group-left:before {
  content: '<' !important;
}

.group-right:before {
  content: '>' !important;
}

.product-group ul.slick-dots {
  height: 50px;
  bottom: 0;
  position: relative;
  margin-top: 35px;
}

.product-group ul.slick-dots:before {
  position: absolute;
  top: -15px;
  margin-left: 9px;
  content: 'SWAP ITEM';
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 21px;
  color: rgba(170, 170, 170, 1);
}

.get-look--container {
  max-width: 1204px;
}

.get-look-border {
  width: 1100px;
  height: 2px;
  background: #ddd;
  margin-bottom: 45px;
}

.spring-casual {
  position: relative;
  width: 200px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.page-top--desktop:after,
.page-top--mobile:after {
  position: relative !important;
  content: 'GET THE LOOK' !important;
  font-family: Poppins !important;
  font-size: 32px !important;
  font-weight: bold !important;
  width: 250px !important;
  background: white !important;
  display: block !important;
  top: 28px !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.page-top--mobile:after {
  top: -30px !important;
  font-size: 24px !important;
  padding-left: 9px !important;
}

.card-content--desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.card-content--desktop img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 192px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-content--mobile img {
  width: 192px;
  height: 183px;
}

.card-text {
  display: flex;
  height: 170px;
  flex-direction: column;
  padding: 0 45px;
  justify-content: space-between;
}

.card-content--mobile .card-text {
  padding: 0 10px;
}

.card-title {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  color: rgba(66, 72, 72, 1);
}

.card-sku {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  color: rgba(158, 158, 158, 1);
}

.card-price {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(52, 60, 77, 1);
  margin-bottom: 5px;
}

.card-payments {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 21px;
  color: rgba(170, 170, 170, 1);
  margin-bottom: 7px;
  margin-top: 0;
}

.strikethrough {
  margin-left: 4px;
  font-weight: 400;
  font-size: 13px;
  text-decoration: line-through;
}

.card-hr {
  display: block;
  width: 80px;
  margin: 0 auto;
  border-top: 1.5px solid #9e9e9e;
}

.slick-dots li button {
  height: 0px !important;
  width: 0px !important;
  border: 2px solid rgba(170, 170, 170, 1) !important;
  padding: 4px !important;
  border-radius: 100% !important;
}

.slick-dots li button:before {
  content: none !important;
}

.slick-dots li.slick-active button {
  background: rgba(170, 170, 170, 1) !important;
}
